<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>OAuthServer</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.css" />
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>

    <!-- Bootstrap 5 JS Bundle CDN -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeo6HytQYmn4U6b1xFV9lBfJlv0p4G65FZ7ceRAs6Ff9aPq/" crossorigin="anonymous"></script>
</body>
</html>
